.page-template-contact {
  .content-container {
    padding: 7.2rem 0 10rem 0;
    @include for-tablet {
      padding: 2.4rem 0;
    }
    .row {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;
      align-items: flex-start;
      justify-content: space-between;
      @include for-tablet {
        display: block;
      }
      .col {
        &-info {
          flex: 0 0 50rem;
          max-width: 50rem;
          width: 50rem;
          @include for-tablet {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
          }
          h3 {
            color: $accent01;
            font-weight: 700;
            margin-bottom: 2.4rem;
          }
          .contact-details {
            margin-bottom: 7.2rem;
            li {
              color: #000;
              font-size: 1.8rem;
              line-height: 1.56;
              padding-left: 4rem;
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                @include ver-center();
                width: 2.4rem;
                height: 2.4rem;
              }
              &.mail {
                &::before {
                  background: url("../../assets/images/sms-tracking.webp");
                  @include bg-props(contain, center, no-repeat);
                }
              }
              &.address {
                &::before {
                  background: url("../../assets/images/location.webp");
                  @include bg-props(contain, center, no-repeat);
                }
              }
              a {
                color: inherit;
                &:hover {
                  color: $accent01;
                }
              }
              &:not(:last-of-type) {
                margin-bottom: 3.2rem;
              }
            }
          }
          .contact-persons {
            li {
              display: flex;
              flex-wrap: wrap;
              align-content: flex-start;
              justify-content: flex-start;
              align-items: flex-start;
              &:not(:last-of-type) {
                margin-bottom: 3.2rem;
              }
              .img-wrapper {
                width: 7.2rem;
                height: 7.2rem;
                @include borderRadius(50%);
                overflow: hidden;
                filter: drop-shadow(0px 0.5rem 2rem rgba(0, 0, 0, 0.09));
                margin-right: 2.4rem;
                img {
                  object-position: top;
                  -o-object-position: top;
                }
              }
              .content {
                p {
                  &.title {
                    font-weight: 700;
                    font-size: 1.8rem;
                    color: #000;
                    font-size: 1.11;
                  }
                  &.position {
                    line-height: 1.43;
                    color: #5a5757;
                    font-size: 1.4rem;
                  }
                }
                a {
                  display: block;
                  font-size: 1.6rem;
                  line-height: 1.25;
                  &.mail {
                    color: #0b6fcb;
                  }
                  &.phone {
                    color: #000;
                  }
                }
              }
            }
          }
        }
        &-form {
          flex: 0 0 81.2rem;
          max-width: 81.2rem;
          width: 81.2rem;
          @include for-tablet {
            flex: 0 0 100%;
            max-width: 100%;
            width: 100%;
            margin-top: 3.2rem;
          }
          form {
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            align-items: flex-start;
            justify-content: space-between;
            // &.invalid,
            // &.error {
            //   color: #fb0e0e;
            // }
            // .wpcf7-response-output {
            //   flex: 0 0 100%;
            //   width: 100%;
            //   max-width: 100%;
            //   text-align: center;
            //   padding: 0;
            //   font-size: 1.8rem;
            //   font-weight: 600;
            //   border: none;
            //   @include for-tablet {
            //     margin: 0;
            //     padding: 1rem;
            //   }
            // }
            &.loading {
              position: relative;
              &::before {
                content: "";
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                background: $accent03;
                opacity: 0.5;
                @include borderRadius(0.4rem);
                z-index: 9999;
              }
              &::after {
                // Font awesome spinner
                content: "\f110";
                z-index: 9999;
                font-family: "Font Awesome 5 Free";
                font-weight: 900;
                position: absolute;
                @include abs-center;
                color: $accent03;
                font-size: 5rem;
                animation: spin 1s linear infinite;
              }
            }
            .form-control {
              flex: 0 0 50%;
              max-width: 50%;
              width: 50%;
              padding-right: 1.6rem;
              margin-bottom: 2.4rem;
              @include for-tablet {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
                margin-bottom: 1.6rem;
                padding-right: 0;
              }
              &.top-space {
                margin-top: 3.2rem;
              }
              &.w-100 {
                flex: 0 0 100%;
                max-width: 100%;
                width: 100%;
              }
              label {
                text-transform: uppercase;
                color: $primary;
                font-size: 1.2rem;
                display: inline-block;
                margin-bottom: 0.4rem;
                font-weight: 700;
                letter-spacing: 0.05em;
                .req {
                  &::after {
                    content: "*";
                    color: #fb0e0e;
                    font-size: 1.2rem;
                    margin-left: 0.05em;
                  }
                }
              }
              input,
              textarea {
                width: 100%;
                &:not([type="file"], [type="submit"]) {
                  width: 100%;
                  background: #ffffff;
                  border: 0.1rem solid #ebe7e7;
                  @include borderRadius(0.4rem);
                  font-size: 2rem;
                  padding: 1.6rem 0.5rem;
                  @include for-tablet {
                    font-size: 1.6rem;
                  }
                }
                &[type="submit"] {
                  cursor: pointer;
                }
                &.error {
                  border-color: #fb0e0e;
                }
              }
              textarea {
                height: 12.6rem;
                resize: none;
              }
              .field-error-msg {
                color: #dc3232;
                font-size: 1.2rem;
                font-weight: normal;
              }
            }
            .status-msg {
              text-align: center;
              flex: 0 0 100%;
              p {
                font-size: 1.8rem;
                font-weight: 600;
              }
              &.success {
                p {
                  color: $accent01;
                  font-size: 2.4rem;
                }
              }
              &.error {
                p {
                  color: #fb0e0e;
                }
              }
            }
          }
        }
      }
    }
  }
  #map {
    width: 100%;
    height: 55rem;

    .mapboxgl-marker {
      @include bg-props(contain, center, no-repeat);
      width: 40px;
      height: 49px;
      svg {
        display: none;
      }
    }
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
