body.error404 {
  .site main {
    padding: 0;
  }
  .not-found-wrapper {
    padding: 38.3rem 83rem 28.4rem 28.1rem;
    background: #ebebeb var(--bgImg);
    @include bg-props(100vh, right bottom, no-repeat);
    @include for-tablet {
      padding: 10.8rem 2rem;
      @include bg-props(cover, center center, no-repeat);
      position: relative;
      &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: #ebebeb;
        opacity: 0.5;
      }
    }
    .content {
      position: relative;
      z-index: 1;
      h6 {
        color: $accent03;
        font-size: 2.4rem;
        margin-bottom: 0.8rem;
        line-height: 1.17;
        font-weight: 500;
      }
      h1 {
        color: $primary;
        font-size: 8rem;
        line-height: 1.08;
        margin-bottom: 1.6rem;
        font-weight: 700;
      }
      p {
        color: #000;
        font-size: 2.2rem;
        line-height: 1.27;
        max-width: 55.2rem;
        margin-bottom: 5.6rem;
      }
    }
  }
}
