body.single-post {
  .featured-image {
    height: 78rem;
    @include for-tablet {
      height: 27.5rem;
    }
    img {
      display: block;
    }
  }
  main {
    & > {
      header {
        margin-top: 5.6rem;
        margin-bottom: 5.6rem;
        @include for-tablet {
          margin-top: 2.4rem;
          margin-bottom: 2.4rem;
        }
        .meta {
          display: flex;
          align-items: center;
          align-content: center;
          flex-wrap: wrap;
          justify-content: flex-start;
          margin-bottom: 0.8rem;
          ul {
            margin-right: 2.4rem;
            li {
              font-weight: 500;
              font-size: 1.4rem;
              color: #000000;
              background: #ebebf0;
              @include borderRadius(7.6rem);
              line-height: 1.35;
              padding: 0.4rem 1.6rem;
            }
          }
          p {
            color: $primaryGray;
            font-weight: 400;
            font-size: 1.4rem;
          }
        }
        h1 {
          font-size: 8rem;
          font-weight: 700;
          line-height: 1.08;
          margin-bottom: 2.4rem;
          @include for-tablet {
            font-size: 3.6rem;
          }
        }
      }
    }

    .main-content {
      p {
        font-size: 2.2rem;
        &:not(:last-of-type) {
          margin-bottom: 2.4rem;
        }
        @include for-tablet {
          font-size: 1.6rem;
        }
      }
      blockquote {
        position: relative;
        padding: 5.6rem 14.1rem;
        font-style: italic;
        font-weight: 500;
        @include borderRadius(1rem);
        @include for-tablet {
          padding: 6.4rem 3.2rem 3.2rem 3.2rem;
          font-size: 2rem;
        }
        &::before {
          content: "";
          position: absolute;
          background: url("../../assets/images/quotes.webp");
          @include bg-props(contain, center, no-repeat);
          width: 4rem;
          height: 2.87rem;
          top: 4.3rem;
          left: 4.6rem;
          @include for-tablet {
            width: 3.12rem;
            height: 2.3rem;
            top: 2.4rem;
            left: 2.4rem;
          }
        }
      }
    }
  }
  .ffeast-cta-block .row p {
    font-size: 3.6rem;
  }
}
