.hero {
  &-home {
    min-height: 108rem;
    background: var(--bgImage);
    @include bg-props(cover, center, no-repeat);
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: flex-start;
    padding: 36rem 27.8rem;
    @include for-tablet {
      min-height: 38rem;
      padding: 8.4rem 2rem 10.4rem 2rem;
    }
    &__content {
      max-width: 71.3rem;
      @include for-tablet {
        max-width: 100%;
        text-align: center;
      }
    }
    &__subtitle {
      color: $accent03;
      font-weight: 500;
      font-size: 2.4rem;
      margin-bottom: 0.5rem;
      @include for-tablet {
        font-size: 1.6rem;
        margin-bottom: 0.4rem;
      }
    }
    &__title {
      color: #fff;
      font-weight: 700;
      font-size: 6rem;
      margin-bottom: 4.2rem;
      line-height: 1.1;
      @include for-tablet {
        font-size: 2.4rem;
        margin-bottom: 1.6rem;
      }
      span {
        font-weight: inherit;
        color: $accent04;
      }
    }
  }
}
