.ffeast-services-block {
  .container {
    margin-bottom: 3rem;
    padding-top: 16rem;
    position: relative;
    @include for-tablet {
      padding-top: 5.8rem;
    }
    .block-deco-title {
      position: absolute;
      top: 0;
      left: -13rem;
      text-shadow: 0px 0px 2rem rgba(0, 0, 0, 0.2);
      font-weight: 900;
      font-size: 16.4rem;
      color: #fff;
      letter-spacing: 0.03em;
      line-height: 1.365;
      opacity: 0.6;
      z-index: -1;
      @include for-tablet {
        font-size: 5rem;
        top: 1rem;
        left: -2rem;
      }
    }
    .row {
      .services-row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 4rem;
        padding-bottom: 4rem;
        &:not(:last-of-type) {
          border-bottom: 0.2rem solid #000;
          @include for-tablet {
            border-bottom: none;
          }
        }
      }
      .single-service {
        flex: 0 0 50%;
        width: 50%;
        max-width: 50%;
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        @include for-tablet {
          flex: 0 0 100%;
          width: 100%;
          max-width: 100%;
        }
        &:nth-of-type(odd) {
          padding-right: 3.2rem;
          @include for-tablet {
            padding-right: 0;
          }
        }
        &:nth-of-type(even) {
          padding-left: 3.2rem;
          @include for-tablet {
            padding-left: 0;
          }
        }
        //not first two
        &:nth-of-type(n + 3) {
          // border-top: 0.2rem solid #000;
          padding-top: 5.3rem;
          @include for-tablet {
            border-top: none;
            padding-top: 0;
          }
        }
        .img-wrapper {
          margin-bottom: 2.4rem;
          width: 100%;
          height: 45.1rem;
          @include for-tablet {
            height: 23.3rem;
            margin-bottom: 1.6rem;
          }
        }

        h3 {
          font-size: 4.8rem;
          color: $accent01;
          margin-bottom: 3.2rem;
          font-weight: 700;
          line-height: 0.92;
          @include for-tablet {
            font-size: 3.6rem;
            margin-bottom: 1.6rem;
          }
        }
        p {
          margin-bottom: 3.2rem;
          font-size: 1.8rem;
          color: #000;
        }
        .btn {
          margin-top: auto;
        }
      }
    }
  }
}
