footer.site-footer {
  .site-info {
    background: $primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 6.5rem 27.8rem;
    .col {
      .footer-title {
        color: #fff;
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 2.2rem;
      }

      &-about {
        flex: 0 0 34.4rem;
        width: 34.4rem;
        .logo-wrapper {
          height: auto;
          width: 15.2rem;
          margin-bottom: 2.3rem;
        }
        p {
          color: #fff;
          line-height: 1.22;
          font-weight: 400;
          font-size: 1.8rem;
          margin-bottom: 4.5rem;
        }
        ul.social {
          display: flex;
          flex-wrap: wrap;
          li {
            &:not(:last-of-type) {
              margin-right: 2.5rem;
            }
            a {
              color: #fff;
              font-size: 2rem;
            }
          }
        }
      }
      &-contact {
        ul.contact_details {
          li {
            &:not(:last-of-type) {
            }
            a {
              color: #fff;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 2.11;
            }
          }
        }
      }
      &-address,
      &-contact {
        flex: 0 0 14.6rem;
        width: 14.6rem;
      }
      &-address {
        p {
          color: #fff;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 2.11;
        }
      }
      &-newsletter {
        flex: 0 0 39.9rem;
        width: 39.9rem;
        p {
          font-weight: 400;
          font-size: 1.6rem;
          color: #fff;
          max-width: 24.6rem;
        }
        form {
          margin-top: 2.4rem;
          .form-control {
            display: flex;
            align-items: stretch;
            align-content: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            input {
              &[type="email"] {
                background: #ffffff;
                border: none;
                @include borderRadius(3.2rem 0 0 3.2rem);
                padding: 1.27rem 3rem;
                font-size: 1.6rem;
                color: #000;
                &::placeholder {
                  color: #807b7b;
                }
              }
              &[type="submit"] {
                background: $accent03;
                color: #fff;
                border: none;
                @include borderRadius(0 3.2rem 3.2rem 0);
                padding: 1.2rem 2.7rem;
                font-family: "Nunito";
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 700;
                &:hover {
                  background: $accent01;
                }
              }
            }
          }
        }
      }
    }
  }
  .copy-bar {
    background: #070e36;
    p {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400;
      padding: 1.6rem 27.8rem;
    }
  }
}
