footer.site-footer {
  .site-info {
    background: $primary;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    padding: 6.5rem 27.8rem;
    @include for-tablet {
      padding: 4.2rem 2rem;
    }
    .col {
      .footer-title {
        color: #fff;
        font-weight: 700;
        font-size: 2.2rem;
        margin-bottom: 2.2rem;
      }

      &-about {
        flex: 0 0 34.4rem;
        width: 34.4rem;
        @include for-tablet {
          text-align: center;
          margin-bottom: 5.6rem;
          flex: 0 0 100%;
          width: 100%;
        }
        .logo-wrapper {
          height: auto;
          width: 15.2rem;
          margin-bottom: 2.3rem;
          @include for-tablet {
            margin-left: auto;
            margin-right: auto;
          }
        }
        p {
          color: #fff;
          line-height: 1.22;
          font-weight: 400;
          font-size: 1.8rem;
          margin-bottom: 4.5rem;
        }
        ul.social {
          display: flex;
          flex-wrap: wrap;
          @include for-tablet {
            justify-content: center;
          }
          li {
            &:not(:last-of-type) {
              margin-right: 2.5rem;
            }
            a {
              color: #fff;
              font-size: 2rem;
            }
          }
        }
      }
      &-contact {
        @include for-tablet {
          flex: 0 0 49%;
          width: 49%;
        }
        ul.contact_details {
          li {
            &:not(:last-of-type) {
            }
            a {
              color: #fff;
              font-size: 1.8rem;
              font-weight: 500;
              line-height: 2.11;
              position: relative;
              &::after {
                content: "";
                position: absolute;
                bottom: -0.5rem;
                left: 0;
                width: 100%;
                height: 0.2rem;
                background: #fff;
                @include transform(scaleX(0));
                @include transit(transform 0.25s ease-in);
                transform-origin: right;
              }
              &:hover {
                &::after {
                  @include transform(scaleX(1));
                  transform-origin: left;
                }
              }
            }
          }
        }
      }
      &-address,
      &-contact {
        flex: 0 0 14.6rem;
        width: 14.6rem;
      }
      &-address {
        p {
          color: #fff;
          font-size: 1.8rem;
          font-weight: 500;
          line-height: 2.11;
        }
      }
      &-newsletter {
        flex: 0 0 39.9rem;
        width: 39.9rem;
        @include for-tablet {
          flex: 0 0 100%;
          width: 100%;
          margin-top: 4rem;
        }
        p {
          font-weight: 400;
          font-size: 1.6rem;
          color: #fff;
          max-width: 24.6rem;
          @include for-tablet {
            max-width: 100%;
          }
        }
        form {
          margin-top: 2.4rem;
          .form-control {
            display: flex;
            align-items: stretch;
            align-content: center;
            justify-content: flex-start;
            flex-wrap: wrap;
            input {
              &[type="email"] {
                background: #ffffff;
                border: none;
                @include borderRadius(3.2rem 0 0 3.2rem);
                padding: 1.27rem 3rem;
                font-size: 1.6rem;
                color: #000;
                flex: 0 0 calc(100% - 13.8rem);
                width: calc(100% - 13.8rem);
                max-width: calc(100% - 13.8rem);
                @include for-tablet {
                  flex: 0 0 100%;
                  width: 100%;
                  max-width: 100%;
                  @include borderRadius(3.2rem);
                }
                &::placeholder {
                  color: #807b7b;
                }
              }
              &[type="submit"] {
                background: $accent03;
                color: #fff;
                border: none;
                @include borderRadius(0 3.2rem 3.2rem 0);
                padding: 1.2rem 2.7rem;
                font-family: "Nunito";
                cursor: pointer;
                font-size: 1.8rem;
                font-weight: 700;
                flex: 0 0 13.8rem;
                width: 13.8rem;
                max-width: 13.8rem;
                @include for-tablet {
                  flex: 0 0 auto;
                  width: fit-content;
                  max-width: fit-content;
                  @include borderRadius(3.2rem);
                  margin-top: 2.4rem;
                }
                &:hover {
                  background: $accent01;
                }
              }
            }
          }
          .status-msg {
            text-align: center;
            width: 100%;
            max-width: 100%;
            font-size: 1.8rem;
            margin-top: 1em;
            font-weight: 700;
            &.error {
              color: #ff5656;
            }
            &.success {
              color: $accent03;
            }
          }
        }
      }
    }
  }
  .copy-bar {
    background: #070e36;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
    align-items: center;
    justify-content: space-between;
    padding: 1.6rem 27.8rem;
    @include for-tablet {
      padding: 2.3rem;
      display: block;
    }
    p {
      color: #fff;
      font-size: 1.4rem;
      font-weight: 400;
      @include for-tablet {
        text-align: center;
        margin-bottom: 1.6rem;
      }
    }
    ul {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      align-items: center;
      justify-content: flex-end;
      @include for-tablet {
        justify-content: center;
      }
      li {
        position: relative;
        &:not(:last-of-type) {
          margin-right: 1.2rem;
          padding-right: 1.2rem;
          &::after {
            position: absolute;
            content: "";
            width: 1px;
            right: 0;
            @include ver-center();
            background: #fff;
            height: 100%;
          }
        }

        a {
          color: #fff;
          font-size: 1.4rem;
          font-weight: 400;
        }
      }
    }
  }
}
