h1 {
  font-size: 4rem;
}
h2 {
  font-size: 3.8rem;
}
h3 {
  font-size: 3.6rem;
  @include for-tablet {
    font-size: 2.6rem;
  }
}
h4 {
  font-size: 3.4rem;
}
h5 {
  font-size: 3.2rem;
}
h6 {
  font-size: 3rem;
}
p {
  font-size: 2.2rem;
}
body {
  &:not(.home) {
    .site {
      main {
        padding: 0 27.8rem;
        @include for-tablet {
          padding: 0 2rem;
        }
        .alignfull {
          margin-left: -27.8rem;
          margin-right: -27.8rem;
          @include for-tablet {
            margin-left: -2rem;
            margin-right: -2rem;
          }
        }
      }
    }
  }
}
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  b,
  strong {
    font-weight: 700;
  }
}

.has-ff-accent-01-color {
  color: $accent01;
}
.has-ff-accent-02-color {
  color: $accent02;
}
.has-ff-accent-03-color {
  color: $accent03;
}
.has-ff-accent-04-color {
  color: $accent04;
}
.has-ff-primary-color {
  color: $primary;
}
.has-ff-primary-gray-color {
  color: $primaryGray;
}

.has-ff-primary-background-color {
  background-color: $primary;
}
.has-ff-accent-01-background-color {
  background-color: $accent01;
}
.has-ff-accent-02-background-color {
  background-color: $accent02;
}
.has-ff-accent-03-background-color {
  background-color: $accent03;
}
.has-ff-accent-04-background-color {
  background-color: $accent04;
}
.has-ff-primary-gray-background-color {
  background-color: $primaryGray;
}
.has-ff-light-gray-background-color {
  background-color: #f8f7f7;
}
mark {
  position: relative;
  background-color: transparent;
  background: none;
  &::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 45%;
    background-color: #ffff00;
    z-index: -1;
  }
}

.mob-alignfull {
  @include for-tablet {
    margin-left: -2rem;
    margin-right: -2rem;
  }
}

[data-href] {
  cursor: pointer;
}
