.ffeast-related-services-block {
  header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    margin-bottom: 56px;
  }
  .row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    .single-service {
      flex: 0 0 30%;
      width: 30%;
      max-width: 30%;
      display: flex;
      flex-wrap: wrap;
      flex-direction: column;

      .img-wrapper {
        margin-bottom: 24px;
        width: 100%;
        height: 451px;
      }

      h3 {
        font-size: 48px;
        color: $accent01;
        margin-bottom: 32px;
        font-weight: 700;
        line-height: 0.92;
      }
      p {
        margin-bottom: 32px;
        font-size: 18px;
        color: #000;
      }
      .btn {
        margin-top: auto;
      }
    }
  }
}
